body {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: 100px auto;
}

input,textarea,button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    padding: 15px;
        }

button:hover {
    background-color: #45a049;
}